<h1 class="mt-3">PIPES <small>Angular</small></h1>
<hr>

<div class="row">
  <div class="col">
    <table class="table">
      <thead class="table-dark">
      <tr>
        <th> Variable</th>
        <th> Pipe</th>
        <th> Salidda</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{nombre2}} </td>
        <td> capitalizado</td>
        <td> {{nombre2 | capializado:true}}</td>
      </tr>

      <tr>
        <td>{{nombre}} </td>
        <td> uppercase</td>
        <td> {{nombre | uppercase}}</td>
      </tr>

      <tr>
        <td>{{nombre}} </td>
        <td> lowecase</td>
        <td> {{nombre | lowercase}}</td>
      </tr>

      <tr>
        <td>{{nombre}} </td>
        <td> slice:3</td>
        <td> {{nombre | slice:3}}</td>
      </tr>

      <tr>
        <td>{{nombre}} </td>
        <td> slice:0:3</td>
        <td> {{nombre | slice:0:3}}</td>
      </tr>

      <tr>
        <td>{{arreglo}} </td>
        <td> slice:1:5</td>
        <td> {{arreglo | slice:1:5}}</td>
      </tr>

      <tr>
        <td>{{PI}} </td>
        <td> PI number:'1.0-0'</td>
        <td> {{PI | number:'1.0-0' }}</td>
      </tr>

      <tr>
        <td>{{PI}} </td>
        <td> PI number:'3.0-0'</td>
        <td> {{PI | number:'3.0-0' }}</td>
      </tr>

      <tr>
        <td>{{PI}} </td>
        <td> PI number:'.0-2'</td>
        <td> {{PI | number:'.0-2' }}</td>
      </tr>

      <tr>
        <td>{{porcentaje}} </td>
        <td> percent</td>
        <td> {{porcentaje | percent }}</td>
      </tr>

      <tr>
        <td>{{porcentaje}} </td>
        <td> percent:'2.2-2'</td>
        <td> {{porcentaje | percent:'2.2-2' }}</td>
      </tr>

      <tr>
        <td>{{salario}} </td>
        <td> currency:'EUR'</td>
        <td> {{salario | currency:'EUR' }}</td>
      </tr>

      <tr>
        <td>{{salario}} </td>
        <td> currency:'CAD'</td>
        <td> {{salario | currency:'CAD ':'symbol':'.0-0' }}</td>
      </tr>

      <tr>
        <td>{{valorPromesa}} </td>
        <td> async</td>
        <td> {{valorPromesa | async }}</td>
      </tr>

      <tr>
        <td>{{fecha}} </td>
        <td> date</td>
        <td> {{fecha | date }}</td>
      </tr>

      <tr>
        <td>{{fecha}} </td>
        <td> date:'medium'</td>
        <td> {{fecha | date:'medium' }}</td>
      </tr>

      <tr>
        <td>{{fecha}} </td>
        <td> date:'short'</td>
        <td> {{fecha | date:'short' }}</td>
      </tr>

      <tr>
        <td>{{fecha}} </td>
        <td> date:'MMMM-dd'</td>
        <td> {{fecha | date:'MMMM-dd' }}</td>
      </tr>

      <tr>
        <td>{{fecha}} </td>
        <td> date:'MMMM-dd':'':'{{idioma}}'</td>
        <br>
        <button (click)="idioma='es'" type="button" class="btn btn-primary">Español</button>
        <button (click)="idioma='en'" type="button" class="btn btn-secondary">Inglés</button>
        <button (click)="idioma='fr'" type="button" class="btn btn-success">Francés</button>
        <br>
        <td> {{fecha | date:'MMMM-dd':'':idioma }}</td>
      </tr>

      <tr>
        <td>{{ nombre }} </td>
        <td>
          contrasena:{{activar}}
          <br>
          <button (click)="cambio(activar)" class="btn btn-primary" type="button">
            ACTIVAR/DESACIVAR
          </button>
          {{ nombre | contrasena:activar }}
        </td>
      </tr>


      </tbody>
    </table>

    <h4>Slice</h4>
    <table>

      <ul>
        <li *ngFor="let item of arreglo | slice:5:7">
          {{item}}
        </li>
      </ul>

    </table>

    <h4>Json</h4>
    <table>

      <ul>
        <li>
          <pre>{{heroe | json}}</pre>
        </li>
      </ul>

    </table>

    <h4>DomSeguro</h4>
    <table>

      <ul>
        <li>
          <iframe width="560"
                  height="315"
                  [src]="videoUrl | domseguro"
                  frameborder="0"
                  allow="accelerometer;
                   autoplay;
                   clipboard-write;
                   encrypted-media;
                   gyroscope;
                   picture-in-picture"
                  allowfullscreen>

          </iframe>
        </li>
      </ul>


    </table>


  </div>
</div>
